$d-gray-border: #333;
$d-red-button: #e50914;
$d-gray-font: #757575;
$d-white-font: #fff;
$d-button-radius: 3px;
$d-black-background: #222222;
$d-gray-form-background:rgba(0,0,0,.75);
$d-signin-error-background:#e87c03;