#fullscreen-movie-player{
    min-width: 1140px;
    width: 100%;
    min-height: 600px;
    height: auto;
    max-height: 100vh;
    background-size: cover;
    background-color: black;
}

#signedin-movie-player-navbar{
    transition: 1s;
    opacity: 0;
}

#signedin-movie-player-navbar:hover{
    transition: .5s;
    opacity: 1;
}